
create database [MyDLM];


USE [MyDLM]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[License_ID] [int] IDENTITY(1,1) NOT NULL,
	[License_Conditions] [nvarchar](300) NULL,
	[Image_Path] [nvarchar](200) NOT NULL,
	[Release_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[License_Fees] [smallmoney] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[License_Status_ID] [int] NOT NULL,
	[CreatedBy_UserID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[License_Category_ID] [int] NOT NULL,
	[Is_Detained] [bit] NOT NULL,
 CONSTRAINT [PK__Licenses__5CA896B68341B908] PRIMARY KEY CLUSTERED 
(
	[License_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[License_Categories]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[License_Categories](
	[License_Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](50) NOT NULL,
	[Category_Description] [nvarchar](500) NOT NULL,
	[Minimum_Allowed_Age] [tinyint] NOT NULL,
	[Fees] [smallmoney] NOT NULL,
	[License_Validity_Period] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[License_Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licenses_Status]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses_Status](
	[License_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[License_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[Driver_ID] [int] IDENTITY(1,1) NOT NULL,
	[Created_Date] [smalldatetime] NOT NULL,
	[Person_ID] [int] NOT NULL,
	[CreatedBy_UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](10) NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[Person_ID] [int] NOT NULL,
 CONSTRAINT [PK__Users__206D91903DD0B528] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Person_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](50) NOT NULL,
	[Second_Name] [nvarchar](50) NOT NULL,
	[Third_Name] [nvarchar](50) NOT NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[Image_Path] [nvarchar](200) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[National_Number] [nvarchar](14) NOT NULL,
	[Added_DateTime] [smalldatetime] NOT NULL,
	[Gender] [nvarchar](7) NOT NULL,
	[Nationality_Country_ID] [int] NOT NULL,
	[CreatedBy_UserID] [int] NOT NULL,
 CONSTRAINT [PK__People__7EABD08B65042E2A] PRIMARY KEY CLUSTERED 
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vLicensesInfo]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vLicensesInfo] as
select [People].[Person_ID], [People].[National_Number], [Licenses].*, [Category_Name], [Users].[User_Name]
from [Licenses] join [Drivers] on [Licenses].[Driver_ID] = [Drivers].[Driver_ID]
join [People] on [Drivers].[Person_ID] = [People].[Person_ID]
join [Licenses_Status] on [Licenses].[License_Status_ID] = [Licenses_Status].[License_Status_ID]
join [License_Categories] on [Licenses].[License_Category_ID] = [License_Categories].[License_Category_ID]
join [Users] on [Licenses].[CreatedBy_UserID] = [Users].[User_ID];
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Service_Fees] [smallmoney] NOT NULL,
	[Last_Status_DateTime] [smalldatetime] NULL,
	[Added_DateTime] [smalldatetime] NOT NULL,
	[Order_Status_ID] [int] NOT NULL,
	[Service_ID] [int] NOT NULL,
	[CreatedBy_UserID] [int] NOT NULL,
	[Person_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[Enrollment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_Fees] [smallmoney] NOT NULL,
	[Added_DateTime] [smalldatetime] NOT NULL,
	[Test_Result] [bit] NULL,
	[Notes] [nvarchar](300) NULL,
	[New_Local_License_ID] [int] NULL,
	[Test_ID] [int] NOT NULL,
	[Appointment_ID] [int] NOT NULL,
	[CreatedBy_UserID] [int] NOT NULL,
	[RetakeTestOrderID] [int] NULL,
 CONSTRAINT [PK__Enrollme__4365BD6A2885BF73] PRIMARY KEY CLUSTERED 
(
	[Enrollment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vRenewLicensesOrders]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vRenewLicensesOrders] as
select [Orders].*, [User_Name], [Test_Result], [Enrollment_ID]
from [Orders] join [Users] on [Orders].[CreatedBy_UserID] = [Users].[User_ID]
left join [Enrollments] on [Orders].[Order_ID] = [Enrollments].[RetakeTestOrderID];
GO
/****** Object:  Table [dbo].[New_Local_Licenses_Order]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[New_Local_Licenses_Order](
	[New_Local_License_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NOT NULL,
	[License_Category_ID] [int] NOT NULL,
	[Passed_Tests] [tinyint] NOT NULL,
 CONSTRAINT [PK__New_Loca__DCBB4DCA8D27BEAA] PRIMARY KEY CLUSTERED 
(
	[New_Local_License_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vGetLicenseClassInfoByApplicationID]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vGetLicenseClassInfoByApplicationID] as
select [License_Categories].*, [Orders].[Order_ID], [Orders].[Person_ID], [Orders].[Order_Status_ID]
from [Orders] join [New_Local_Licenses_Order]
on [Orders].[Order_ID] = [New_Local_Licenses_Order].[Order_ID]
join [License_Categories] 
on [New_Local_Licenses_Order].[License_Category_ID] = [License_Categories].[License_Category_ID];
GO
/****** Object:  View [dbo].[vFindPersonByLicenseID]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vFindPersonByLicenseID] as
select [People].*, [License_ID], [User_Name] from 
[Licenses] join [Drivers] on [Licenses].[Driver_ID] = [Drivers].[Driver_ID]
join [People] on [Drivers].[Person_ID] = [People].[Person_ID]
join [Users] on [People].[CreatedBy_UserID] = [Users].[User_ID];
GO
/****** Object:  View [dbo].[vRenewLicensesOrdersForNationalNumber]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vRenewLicensesOrdersForNationalNumber] as
select [Orders].*, [User_Name], [Test_Result], [Enrollment_ID], [National_number]
from [Orders] join [Users] on [Orders].[CreatedBy_UserID] = [Users].[User_ID]
join [People] on [People].[Person_ID] = [Orders].[Person_ID]
left join [Enrollments] on [Orders].[Order_ID] = [Enrollments].[RetakeTestOrderID];
GO
/****** Object:  View [dbo].[vNewLocalLicensesOrders]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vNewLocalLicensesOrders] as
select [Orders].*, [User_Name], [Passed_Tests], [New_Local_Licenses_Order].License_Category_ID
from [Orders] join [Users] on [Orders].[CreatedBy_UserID] = [Users].[User_ID]
join [New_Local_Licenses_Order] on [Orders].[Order_ID] = [New_Local_Licenses_Order].[Order_ID];
GO
/****** Object:  View [dbo].[vNewLocalLicensesOrdersForNationalNumber]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[vNewLocalLicensesOrdersForNationalNumber] as
select [Orders].*, [User_Name], [Passed_Tests], [National_number], [License_Category_ID]
from [Orders] join [Users] on [Orders].[CreatedBy_UserID] = [Users].[User_ID]
join [People] on [People].[Person_ID] = [Orders].[Person_ID]
join [New_Local_Licenses_Order] on [Orders].[Order_ID] = [New_Local_Licenses_Order].[Order_ID];
GO
/****** Object:  Table [dbo].[Tests_Appointments]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests_Appointments](
	[Appointment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Appointment] [date] NOT NULL,
	[Is_Completed] [bit] NOT NULL,
	[CreatedBy_UserID] [int] NOT NULL,
	[Added_DateTime] [smalldatetime] NOT NULL,
	[NumberOfPeople] [smallint] NOT NULL,
 CONSTRAINT [PK__Tests_Ap__FD01B503A4ED1BB5] PRIMARY KEY CLUSTERED 
(
	[Appointment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Country_ID] [int] IDENTITY(1,1) NOT NULL,
	[Country_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Country_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[Test_ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_Name] [nvarchar](100) NOT NULL,
	[Test_Fees] [smallmoney] NOT NULL,
	[Test_Description] [nvarchar](400) NOT NULL,
	[MaxNumberOfPeople] [smallint] NOT NULL,
 CONSTRAINT [PK__Tests__B502D002752F0E05] PRIMARY KEY CLUSTERED 
(
	[Test_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vPeopleRegisteredInAppointment]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vPeopleRegisteredInAppointment] as
select [Orders].[Order_ID], [People].[Person_ID], [First_Name], [Second_Name], [Third_Name], [Last_Name],
[National_Number], [Test_Result], [Appointment], [NumberOfPeople],
[Is_Completed], [Tests].[Test_ID], [Tests_Appointments].[Appointment_ID], [Users].[User_Name] as AppointmentCreatedByUserName,
[Enrollments].[New_Local_License_ID] ,[Enrollments].[Notes], [License_Category_ID]
from 
[Enrollments] join [Tests] on [Enrollments].[Test_ID] = [Tests].[Test_ID]
join [Tests_Appointments] on [Enrollments].[Appointment_ID] = [Tests_Appointments].[Appointment_ID]
join [New_Local_Licenses_Order] on [Enrollments].[New_Local_License_ID] = [New_Local_Licenses_Order].[New_Local_License_ID]
join [Orders] on [New_Local_Licenses_Order].[Order_ID] = [Orders].[Order_ID]
join [People] on [Orders].[Person_ID] = [People].[Person_ID]
join [Countries] on [People].[Nationality_Country_ID] = [Countries].[Country_ID]
join [Users] on [Tests_Appointments].[CreatedBy_UserID] = [Users].[User_ID];
GO
/****** Object:  View [dbo].[vPeopleRegisteredInAppointmentRenewLicense]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vPeopleRegisteredInAppointmentRenewLicense] as
select [Orders].[Order_ID], [People].[Person_ID], [First_Name], [Second_Name], [Third_Name], [Last_Name],
[National_Number], [Test_Result], [Appointment], [NumberOfPeople],
[Is_Completed], [Tests].[Test_ID], [Tests_Appointments].[Appointment_ID], [Users].[User_Name] as AppointmentCreatedByUserName,
[Enrollments].[New_Local_License_ID], [Enrollments].[Notes]
from 
[Enrollments] join [Tests] on [Enrollments].[Test_ID] = [Tests].[Test_ID]
join [Tests_Appointments] on [Enrollments].[Appointment_ID] = [Tests_Appointments].[Appointment_ID]
join [Orders] on [Enrollments].[RetakeTestOrderID] = [Orders].[Order_ID]
join [People] on [Orders].[Person_ID] = [People].[Person_ID]
join [Countries] on [People].[Nationality_Country_ID] = [Countries].[Country_ID]
join [Users] on [Tests_Appointments].[CreatedBy_UserID] = [Users].[User_ID] where [New_Local_License_ID] is null;
GO
/****** Object:  View [dbo].[vDoesHaveLicenseOfSameClass]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vDoesHaveLicenseOfSameClass] as
select [People].[Person_ID], [Licenses].* 
from [People] join [Drivers] on [People].[Person_ID] = [Drivers].[Person_ID]
join [Licenses] on [Drivers].[Driver_ID] = [Licenses].[Driver_ID];
GO
/****** Object:  Table [dbo].[International_Licenses]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[International_Licenses](
	[International_License_ID] [int] IDENTITY(1,1) NOT NULL,
	[Release_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[CreatedBy_UserID] [int] NOT NULL,
	[Local_License_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[International_License_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_Status]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_Status](
	[Order_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_Status_Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[Phone_ID] [int] IDENTITY(1,1) NOT NULL,
	[Phone_Number] [nvarchar](15) NOT NULL,
	[Person_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Phone_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Release_Licenses_Reservation_Order]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Release_Licenses_Reservation_Order](
	[Reservation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Fine] [smallmoney] NOT NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[Reservation_Date] [smalldatetime] NOT NULL,
	[Payment_Date] [smalldatetime] NULL,
	[Paid] [bit] NOT NULL,
	[Added_DateTime] [smalldatetime] NOT NULL,
	[License_ID] [int] NOT NULL,
	[CreatedBy_UserID] [int] NOT NULL,
	[ReleasedBy_UserID] [int] NULL,
	[Order_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Reservation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services_Types]    Script Date: 5/2/2026 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services_Types](
	[Service_ID] [int] IDENTITY(1,1) NOT NULL,
	[Service_Name] [nvarchar](50) NOT NULL,
	[Service_Fees] [smallmoney] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Country_ID], [Country_Name]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([Country_ID], [Country_Name]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([Country_ID], [Country_Name]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([Driver_ID], [Created_Date], [Person_ID], [CreatedBy_UserID]) VALUES (7, CAST(N'2026-02-24T20:04:00' AS SmallDateTime), 70, 1)
INSERT [dbo].[Drivers] ([Driver_ID], [Created_Date], [Person_ID], [CreatedBy_UserID]) VALUES (8, CAST(N'2026-02-24T21:25:00' AS SmallDateTime), 75, 1)
INSERT [dbo].[Drivers] ([Driver_ID], [Created_Date], [Person_ID], [CreatedBy_UserID]) VALUES (9, CAST(N'2026-02-26T01:27:00' AS SmallDateTime), 76, 1)
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([Enrollment_ID], [Test_Fees], [Added_DateTime], [Test_Result], [Notes], [New_Local_License_ID], [Test_ID], [Appointment_ID], [CreatedBy_UserID], [RetakeTestOrderID]) VALUES (48, 20.0000, CAST(N'2026-02-24T20:02:00' AS SmallDateTime), 1, NULL, 58, 1, 51, 1, NULL)
INSERT [dbo].[Enrollments] ([Enrollment_ID], [Test_Fees], [Added_DateTime], [Test_Result], [Notes], [New_Local_License_ID], [Test_ID], [Appointment_ID], [CreatedBy_UserID], [RetakeTestOrderID]) VALUES (49, 30.0000, CAST(N'2026-02-24T20:03:00' AS SmallDateTime), 1, NULL, 58, 2, 52, 1, NULL)
INSERT [dbo].[Enrollments] ([Enrollment_ID], [Test_Fees], [Added_DateTime], [Test_Result], [Notes], [New_Local_License_ID], [Test_ID], [Appointment_ID], [CreatedBy_UserID], [RetakeTestOrderID]) VALUES (50, 40.0000, CAST(N'2026-02-24T20:04:00' AS SmallDateTime), 1, NULL, 58, 3, 53, 1, NULL)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[International_Licenses] ON 

INSERT [dbo].[International_Licenses] ([International_License_ID], [Release_Date], [End_Date], [Is_Active], [Order_ID], [Driver_ID], [CreatedBy_UserID], [Local_License_ID]) VALUES (9, CAST(N'2026-02-24' AS Date), CAST(N'2027-02-24' AS Date), 0, 169, 7, 1, 12)
INSERT [dbo].[International_Licenses] ([International_License_ID], [Release_Date], [End_Date], [Is_Active], [Order_ID], [Driver_ID], [CreatedBy_UserID], [Local_License_ID]) VALUES (10, CAST(N'2026-02-24' AS Date), CAST(N'2027-02-24' AS Date), 0, 170, 7, 1, 12)
INSERT [dbo].[International_Licenses] ([International_License_ID], [Release_Date], [End_Date], [Is_Active], [Order_ID], [Driver_ID], [CreatedBy_UserID], [Local_License_ID]) VALUES (11, CAST(N'2026-02-24' AS Date), CAST(N'2027-02-24' AS Date), 1, 171, 7, 1, 12)
SET IDENTITY_INSERT [dbo].[International_Licenses] OFF
GO
SET IDENTITY_INSERT [dbo].[License_Categories] ON 

INSERT [dbo].[License_Categories] ([License_Category_ID], [Category_Name], [Category_Description], [Minimum_Allowed_Age], [Fees], [License_Validity_Period]) VALUES (1, N'Class 1 - Small Motorcycle', N'It allows the driver to drive small motorcycles, It is suitable for motorcycles with small capacity and limited power.', 18, 15.0000, 5)
INSERT [dbo].[License_Categories] ([License_Category_ID], [Category_Name], [Category_Description], [Minimum_Allowed_Age], [Fees], [License_Validity_Period]) VALUES (2, N'Class 2 - Heavy Motorcycle License', N'Heavy Motorcycle License (Large Motorcycle License)', 21, 30.0000, 5)
INSERT [dbo].[License_Categories] ([License_Category_ID], [Category_Name], [Category_Description], [Minimum_Allowed_Age], [Fees], [License_Validity_Period]) VALUES (3, N'Class 3 - Ordinary driving license', N'Ordinary driving license (car licence)', 18, 20.0000, 5)
SET IDENTITY_INSERT [dbo].[License_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Licenses] ON 

INSERT [dbo].[Licenses] ([License_ID], [License_Conditions], [Image_Path], [Release_Date], [End_Date], [Is_Active], [License_Fees], [Driver_ID], [License_Status_ID], [CreatedBy_UserID], [Order_ID], [License_Category_ID], [Is_Detained]) VALUES (12, NULL, N'D:\Images\Boy.png', CAST(N'2026-02-24' AS Date), CAST(N'2031-02-24' AS Date), 0, 20.0000, 7, 1, 1, 168, 3, 0)
INSERT [dbo].[Licenses] ([License_ID], [License_Conditions], [Image_Path], [Release_Date], [End_Date], [Is_Active], [License_Fees], [Driver_ID], [License_Status_ID], [CreatedBy_UserID], [Order_ID], [License_Category_ID], [Is_Detained]) VALUES (13, NULL, N'D:\Images\Boy.png', CAST(N'2026-02-24' AS Date), CAST(N'2031-02-24' AS Date), 0, 0.0000, 7, 3, 1, 200, 3, 0)
INSERT [dbo].[Licenses] ([License_ID], [License_Conditions], [Image_Path], [Release_Date], [End_Date], [Is_Active], [License_Fees], [Driver_ID], [License_Status_ID], [CreatedBy_UserID], [Order_ID], [License_Category_ID], [Is_Detained]) VALUES (14, NULL, N'D:\Images\Boy.png', CAST(N'2026-02-24' AS Date), CAST(N'2031-02-24' AS Date), 0, 0.0000, 7, 3, 1, 201, 3, 0)
SET IDENTITY_INSERT [dbo].[Licenses] OFF
GO
SET IDENTITY_INSERT [dbo].[Licenses_Status] ON 

INSERT [dbo].[Licenses_Status] ([License_Status_ID], [Status]) VALUES (1, N'New')
INSERT [dbo].[Licenses_Status] ([License_Status_ID], [Status]) VALUES (2, N'Lost Replacement')
INSERT [dbo].[Licenses_Status] ([License_Status_ID], [Status]) VALUES (3, N'Damaged Replacement')
SET IDENTITY_INSERT [dbo].[Licenses_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[New_Local_Licenses_Order] ON 

INSERT [dbo].[New_Local_Licenses_Order] ([New_Local_License_ID], [Order_ID], [License_Category_ID], [Passed_Tests]) VALUES (58, 168, 3, 3)
INSERT [dbo].[New_Local_Licenses_Order] ([New_Local_License_ID], [Order_ID], [License_Category_ID], [Passed_Tests]) VALUES (59, 204, 2, 3)
INSERT [dbo].[New_Local_Licenses_Order] ([New_Local_License_ID], [Order_ID], [License_Category_ID], [Passed_Tests]) VALUES (60, 216, 4, 3)
SET IDENTITY_INSERT [dbo].[New_Local_Licenses_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_ID], [Service_Fees], [Last_Status_DateTime], [Added_DateTime], [Order_Status_ID], [Service_ID], [CreatedBy_UserID], [Person_ID]) VALUES (168, 15.0000, CAST(N'2026-02-24T20:04:00' AS SmallDateTime), CAST(N'2026-02-24T20:01:00' AS SmallDateTime), 3, 1, 1, 70)
INSERT [dbo].[Orders] ([Order_ID], [Service_Fees], [Last_Status_DateTime], [Added_DateTime], [Order_Status_ID], [Service_ID], [CreatedBy_UserID], [Person_ID]) VALUES (169, 51.0000, NULL, CAST(N'2026-02-24T20:24:00' AS SmallDateTime), 3, 6, 1, 70)
INSERT [dbo].[Orders] ([Order_ID], [Service_Fees], [Last_Status_DateTime], [Added_DateTime], [Order_Status_ID], [Service_ID], [CreatedBy_UserID], [Person_ID]) VALUES (170, 51.0000, NULL, CAST(N'2026-02-24T20:24:00' AS SmallDateTime), 3, 6, 1, 70)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders_Status] ON 

INSERT [dbo].[Orders_Status] ([Order_Status_ID], [Order_Status_Name]) VALUES (1, N'New')
INSERT [dbo].[Orders_Status] ([Order_Status_ID], [Order_Status_Name]) VALUES (2, N'Canceled')
INSERT [dbo].[Orders_Status] ([Order_Status_ID], [Order_Status_Name]) VALUES (3, N'Complete')
SET IDENTITY_INSERT [dbo].[Orders_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([Person_ID], [First_Name], [Second_Name], [Third_Name], [Last_Name], [Image_Path], [DateOfBirth], [Address], [Email], [National_Number], [Added_DateTime], [Gender], [Nationality_Country_ID], [CreatedBy_UserID]) VALUES (1, N'Ebarhim', N'Hasan', N'Ebrahim', N'Ebrahim', N'D:\Visual Studio 2022 Projects\DLMApp_WindowsForms\People Images\Guid23029eb5-8b97-4b23-99f4-7e511482cc1f.jpg', CAST(N'1998-07-07' AS Date), N'Elmansoura Elgalaa Street 25', N'ebrahim.hasan.dev@gmail.com', N'12345678902478', CAST(N'2026-01-10T01:03:00' AS SmallDateTime), N'Male', 51, 1)
INSERT [dbo].[People] ([Person_ID], [First_Name], [Second_Name], [Third_Name], [Last_Name], [Image_Path], [DateOfBirth], [Address], [Email], [National_Number], [Added_DateTime], [Gender], [Nationality_Country_ID], [CreatedBy_UserID]) VALUES (70, N'Ahmed', N'Adel', N'Fadi', N'Alian', N'D:\Visual Studio 2022 Projects\DLMApp_WindowsForms\People Images\Guid1c974001-4e2c-4d7a-8373-87ffcf9a2153.png', CAST(N'2008-01-01' AS Date), N'Ahmed Address', N'ahmed25@gmail', N'11111111111111', CAST(N'2026-02-05T21:48:00' AS SmallDateTime), N'Male', 51, 1)
INSERT [dbo].[People] ([Person_ID], [First_Name], [Second_Name], [Third_Name], [Last_Name], [Image_Path], [DateOfBirth], [Address], [Email], [National_Number], [Added_DateTime], [Gender], [Nationality_Country_ID], [CreatedBy_UserID]) VALUES (71, N'Sara', N'Ali', N'Omar', N'Ahmed', N'D:\Visual Studio 2022 Projects\DLMApp_WindowsForms\People Images\Guid8c3f727e-9b2b-4668-9aab-6bf9cab7211a.png', CAST(N'2000-01-01' AS Date), N'Sara Address', N'sara55@gmail.com', N'22222222222222', CAST(N'2026-02-05T22:20:00' AS SmallDateTime), N'Female', 51, 1)
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[Phones] ON 

INSERT [dbo].[Phones] ([Phone_ID], [Phone_Number], [Person_ID]) VALUES (58, N'01001978166', 1)
INSERT [dbo].[Phones] ([Phone_ID], [Phone_Number], [Person_ID]) VALUES (116, N'01002225555', 70)
INSERT [dbo].[Phones] ([Phone_ID], [Phone_Number], [Person_ID]) VALUES (117, N'01022336665', 70)
SET IDENTITY_INSERT [dbo].[Phones] OFF
GO
SET IDENTITY_INSERT [dbo].[Release_Licenses_Reservation_Order] ON 

INSERT [dbo].[Release_Licenses_Reservation_Order] ([Reservation_ID], [Fine], [Reason], [Reservation_Date], [Payment_Date], [Paid], [Added_DateTime], [License_ID], [CreatedBy_UserID], [ReleasedBy_UserID], [Order_ID]) VALUES (13, 50.0000, N'red traffic', CAST(N'2026-02-24T00:00:00' AS SmallDateTime), CAST(N'2026-02-24T20:26:00' AS SmallDateTime), 1, CAST(N'2026-02-24T20:25:00' AS SmallDateTime), 12, 1, 1, 172)
INSERT [dbo].[Release_Licenses_Reservation_Order] ([Reservation_ID], [Fine], [Reason], [Reservation_Date], [Payment_Date], [Paid], [Added_DateTime], [License_ID], [CreatedBy_UserID], [ReleasedBy_UserID], [Order_ID]) VALUES (14, 100.0000, N'Red Traffic', CAST(N'2026-02-24T00:00:00' AS SmallDateTime), CAST(N'2026-02-24T21:28:00' AS SmallDateTime), 1, CAST(N'2026-02-24T21:27:00' AS SmallDateTime), 18, 1, 1, 207)
INSERT [dbo].[Release_Licenses_Reservation_Order] ([Reservation_ID], [Fine], [Reason], [Reservation_Date], [Payment_Date], [Paid], [Added_DateTime], [License_ID], [CreatedBy_UserID], [ReleasedBy_UserID], [Order_ID]) VALUES (15, 75.0000, N'Red Traffic', CAST(N'2026-02-24T00:00:00' AS SmallDateTime), CAST(N'2026-02-24T21:30:00' AS SmallDateTime), 1, CAST(N'2026-02-24T21:30:00' AS SmallDateTime), 18, 1, 1, 210)
SET IDENTITY_INSERT [dbo].[Release_Licenses_Reservation_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Services_Types] ON 

INSERT [dbo].[Services_Types] ([Service_ID], [Service_Name], [Service_Fees]) VALUES (1, N'New Local Driving License Service', 15.0000)
INSERT [dbo].[Services_Types] ([Service_ID], [Service_Name], [Service_Fees]) VALUES (2, N'Renew Driving License Service', 7.0000)
INSERT [dbo].[Services_Types] ([Service_ID], [Service_Name], [Service_Fees]) VALUES (3, N'Replacement for a Lost Driving License', 10.0000)
SET IDENTITY_INSERT [dbo].[Services_Types] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([Test_ID], [Test_Name], [Test_Fees], [Test_Description], [MaxNumberOfPeople]) VALUES (1, N'Vision Test', 20.0000, N'This assesses the applicant''s visual acuity to ensure they have sufficient vision to drive safely.', 3)
INSERT [dbo].[Tests] ([Test_ID], [Test_Name], [Test_Fees], [Test_Description], [MaxNumberOfPeople]) VALUES (2, N'Written (Theory) Test', 30.0000, N'This test assesses the applicant''s knowledge of traffic rules, road signs, and driving regulations. It typically consists of multiple-choice questions, and the applicant must select the correct answer(s). The written test aims to ensure that the applicant understands the rules of the road and can apply them in various driving scenarios.', 3)
INSERT [dbo].[Tests] ([Test_ID], [Test_Name], [Test_Fees], [Test_Description], [MaxNumberOfPeople]) VALUES (3, N'Practical (Street) Test', 40.0000, N'This test evaluates the applicant''s driving skills and ability to operate a motor vehicle safely on public roads. A licensed examiner accompanies the applicant in the vehicle and observes their driving performance.', 3)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests_Appointments] ON 

INSERT [dbo].[Tests_Appointments] ([Appointment_ID], [Appointment], [Is_Completed], [CreatedBy_UserID], [Added_DateTime], [NumberOfPeople]) VALUES (51, CAST(N'2026-02-25' AS Date), 1, 1, CAST(N'2026-02-24T20:02:00' AS SmallDateTime), 3)
INSERT [dbo].[Tests_Appointments] ([Appointment_ID], [Appointment], [Is_Completed], [CreatedBy_UserID], [Added_DateTime], [NumberOfPeople]) VALUES (52, CAST(N'2026-02-26' AS Date), 1, 1, CAST(N'2026-02-24T20:03:00' AS SmallDateTime), 3)
INSERT [dbo].[Tests_Appointments] ([Appointment_ID], [Appointment], [Is_Completed], [CreatedBy_UserID], [Added_DateTime], [NumberOfPeople]) VALUES (53, CAST(N'2026-02-27' AS Date), 1, 1, CAST(N'2026-02-24T20:04:00' AS SmallDateTime), 3)
SET IDENTITY_INSERT [dbo].[Tests_Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [User_Name], [Password], [Is_Active], [Person_ID]) VALUES (1, N'admin', N'123', 1, 1)
INSERT [dbo].[Users] ([User_ID], [User_Name], [Password], [Is_Active], [Person_ID]) VALUES (2, N'admin2', N'1234', 1, 70)
INSERT [dbo].[Users] ([User_ID], [User_Name], [Password], [Is_Active], [Person_ID]) VALUES (3, N'admin3', N'333', 1, 76)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [i_PersonID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [i_PersonID] ON [dbo].[Drivers]
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [i_LocalLicenseApplicationID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE NONCLUSTERED INDEX [i_LocalLicenseApplicationID] ON [dbo].[Enrollments]
(
	[New_Local_License_ID] ASC
)
INCLUDE([Test_Result]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [i_NewLocalLicenseID_TestID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE NONCLUSTERED INDEX [i_NewLocalLicenseID_TestID] ON [dbo].[Enrollments]
(
	[New_Local_License_ID] ASC,
	[Test_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ui_AppointmentID_NewLocalLicenseID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ui_AppointmentID_NewLocalLicenseID] ON [dbo].[Enrollments]
(
	[Appointment_ID] ASC,
	[New_Local_License_ID] ASC
)
WHERE ([New_Local_License_ID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ui_RetakeTestOrderID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ui_RetakeTestOrderID] ON [dbo].[Enrollments]
(
	[RetakeTestOrderID] ASC
)
INCLUDE([Test_Result]) 
WHERE ([RetakeTestOrderID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [i_DriverID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE NONCLUSTERED INDEX [i_DriverID] ON [dbo].[International_Licenses]
(
	[Driver_ID] ASC
)
INCLUDE([Is_Active]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ui_DriverID_LicenseCategoryID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE NONCLUSTERED INDEX [ui_DriverID_LicenseCategoryID] ON [dbo].[Licenses]
(
	[Driver_ID] ASC,
	[License_Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ui_OrderID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ui_OrderID] ON [dbo].[New_Local_Licenses_Order]
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [i_AddedDateTime_ServiceID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE NONCLUSTERED INDEX [i_AddedDateTime_ServiceID] ON [dbo].[Orders]
(
	[Added_DateTime] ASC,
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [i_PersonID_ServiceID_OrderStatusID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE NONCLUSTERED INDEX [i_PersonID_ServiceID_OrderStatusID] ON [dbo].[Orders]
(
	[Person_ID] ASC,
	[Service_ID] ASC,
	[Order_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [i_ServiceID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE NONCLUSTERED INDEX [i_ServiceID] ON [dbo].[Orders]
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ui_Email]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ui_Email] ON [dbo].[People]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ui_National_Number]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ui_National_Number] ON [dbo].[People]
(
	[National_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unq_PhoneNumber]    Script Date: 5/2/2026 8:49:14 PM ******/
ALTER TABLE [dbo].[Phones] ADD  CONSTRAINT [unq_PhoneNumber] UNIQUE NONCLUSTERED 
(
	[Phone_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [i_PersonID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE NONCLUSTERED INDEX [i_PersonID] ON [dbo].[Phones]
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [i_LicenseID]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE NONCLUSTERED INDEX [i_LicenseID] ON [dbo].[Release_Licenses_Reservation_Order]
(
	[License_ID] ASC
)
INCLUDE([Paid]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [i_Appointment]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [i_Appointment] ON [dbo].[Tests_Appointments]
(
	[Appointment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [unq_PersonID]    Script Date: 5/2/2026 8:49:14 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [unq_PersonID] UNIQUE NONCLUSTERED 
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unq_User_Name]    Script Date: 5/2/2026 8:49:14 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [unq_User_Name] UNIQUE NONCLUSTERED 
(
	[User_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ui_UserName_Password]    Script Date: 5/2/2026 8:49:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ui_UserName_Password] ON [dbo].[Users]
(
	[User_Name] ASC,
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Drivers] ADD  CONSTRAINT [df_DriverAddedDate]  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Enrollments] ADD  CONSTRAINT [df_EnrollmentAddedDate]  DEFAULT (getdate()) FOR [Added_DateTime]
GO
ALTER TABLE [dbo].[International_Licenses] ADD  CONSTRAINT [df_International_LicensesAddedDate]  DEFAULT (getdate()) FOR [Release_Date]
GO
ALTER TABLE [dbo].[Licenses] ADD  CONSTRAINT [df_ReleaseDate]  DEFAULT (getdate()) FOR [Release_Date]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [df_OrderAddedDate]  DEFAULT (getdate()) FOR [Added_DateTime]
GO
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [df_PersonAddedDate]  DEFAULT (getdate()) FOR [Added_DateTime]
GO
ALTER TABLE [dbo].[Release_Licenses_Reservation_Order] ADD  CONSTRAINT [df_ReservationAddedDate]  DEFAULT (getdate()) FOR [Added_DateTime]
GO
ALTER TABLE [dbo].[Tests_Appointments] ADD  CONSTRAINT [df_AppointmentAddedDate]  DEFAULT (getdate()) FOR [Added_DateTime]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK__Drivers__Created__4E88ABD4] FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK__Drivers__Created__4E88ABD4]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK__Drivers__Person___4D94879B] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[People] ([Person_ID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK__Drivers__Person___4D94879B]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Appoi__6ABAD62E] FOREIGN KEY([Appointment_ID])
REFERENCES [dbo].[Tests_Appointments] ([Appointment_ID])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK__Enrollmen__Appoi__6ABAD62E]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Creat__6BAEFA67] FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK__Enrollmen__Creat__6BAEFA67]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Retak__6CA31EA0] FOREIGN KEY([RetakeTestOrderID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK__Enrollmen__Retak__6CA31EA0]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Test___69C6B1F5] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([Test_ID])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK__Enrollmen__Test___69C6B1F5]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_New_Local_Licenses_Order] FOREIGN KEY([New_Local_License_ID])
REFERENCES [dbo].[New_Local_Licenses_Order] ([New_Local_License_ID])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_New_Local_Licenses_Order]
GO
ALTER TABLE [dbo].[International_Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Internati__Creat__73BA3083] FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[International_Licenses] CHECK CONSTRAINT [FK__Internati__Creat__73BA3083]
GO
ALTER TABLE [dbo].[International_Licenses]  WITH CHECK ADD FOREIGN KEY([Driver_ID])
REFERENCES [dbo].[Drivers] ([Driver_ID])
GO
ALTER TABLE [dbo].[International_Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Internati__Local__65F62111] FOREIGN KEY([Local_License_ID])
REFERENCES [dbo].[Licenses] ([License_ID])
GO
ALTER TABLE [dbo].[International_Licenses] CHECK CONSTRAINT [FK__Internati__Local__65F62111]
GO
ALTER TABLE [dbo].[International_Licenses]  WITH CHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Licenses__Create__59063A47] FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK__Licenses__Create__59063A47]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Licenses__Driver__571DF1D5] FOREIGN KEY([Driver_ID])
REFERENCES [dbo].[Drivers] ([Driver_ID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK__Licenses__Driver__571DF1D5]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Licenses__Licens__5812160E] FOREIGN KEY([License_Status_ID])
REFERENCES [dbo].[Licenses_Status] ([License_Status_ID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK__Licenses__Licens__5812160E]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Licenses__Licens__5AEE82B9] FOREIGN KEY([License_Category_ID])
REFERENCES [dbo].[License_Categories] ([License_Category_ID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK__Licenses__Licens__5AEE82B9]
GO
ALTER TABLE [dbo].[Licenses]  WITH CHECK ADD  CONSTRAINT [FK__Licenses__Order___59FA5E80] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Licenses] CHECK CONSTRAINT [FK__Licenses__Order___59FA5E80]
GO
ALTER TABLE [dbo].[New_Local_Licenses_Order]  WITH CHECK ADD  CONSTRAINT [FK_New_Local_Licenses_Order_License_Categories] FOREIGN KEY([License_Category_ID])
REFERENCES [dbo].[License_Categories] ([License_Category_ID])
GO
ALTER TABLE [dbo].[New_Local_Licenses_Order] CHECK CONSTRAINT [FK_New_Local_Licenses_Order_License_Categories]
GO
ALTER TABLE [dbo].[New_Local_Licenses_Order]  WITH CHECK ADD  CONSTRAINT [FK_New_Local_Licenses_Order_Orders] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[New_Local_Licenses_Order] CHECK CONSTRAINT [FK_New_Local_Licenses_Order_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__CreateBy__534D60F1] FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__CreateBy__534D60F1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Order_Status_ID])
REFERENCES [dbo].[Orders_Status] ([Order_Status_ID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Person_I__5441852A] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[People] ([Person_ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Person_I__5441852A]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Service_ID])
REFERENCES [dbo].[Services_Types] ([Service_ID])
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK__People__CreateBy__46E78A0C] FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK__People__CreateBy__46E78A0C]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK__People__National__45F365D3] FOREIGN KEY([Nationality_Country_ID])
REFERENCES [dbo].[Countries] ([Country_ID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK__People__National__45F365D3]
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD  CONSTRAINT [FK__Phones__Person_I__4AB81AF0] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[People] ([Person_ID])
GO
ALTER TABLE [dbo].[Phones] CHECK CONSTRAINT [FK__Phones__Person_I__4AB81AF0]
GO
ALTER TABLE [dbo].[Release_Licenses_Reservation_Order]  WITH CHECK ADD  CONSTRAINT [FK__Release_L__Creat__5EBF139D] FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Release_Licenses_Reservation_Order] CHECK CONSTRAINT [FK__Release_L__Creat__5EBF139D]
GO
ALTER TABLE [dbo].[Release_Licenses_Reservation_Order]  WITH CHECK ADD  CONSTRAINT [FK__Release_L__Licen__5DCAEF64] FOREIGN KEY([License_ID])
REFERENCES [dbo].[Licenses] ([License_ID])
GO
ALTER TABLE [dbo].[Release_Licenses_Reservation_Order] CHECK CONSTRAINT [FK__Release_L__Licen__5DCAEF64]
GO
ALTER TABLE [dbo].[Release_Licenses_Reservation_Order]  WITH CHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Release_Licenses_Reservation_Order]  WITH CHECK ADD  CONSTRAINT [FK__Release_L__Relea__5FB337D6] FOREIGN KEY([ReleasedBy_UserID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Release_Licenses_Reservation_Order] CHECK CONSTRAINT [FK__Release_L__Relea__5FB337D6]
GO
ALTER TABLE [dbo].[Tests_Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Tests_App__Creat__6754599E] FOREIGN KEY([CreatedBy_UserID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Tests_Appointments] CHECK CONSTRAINT [FK__Tests_App__Creat__6754599E]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__Person_ID__6B79F03D] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[People] ([Person_ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__Person_ID__6B79F03D]
GO
ALTER TABLE [dbo].[Tests_Appointments]  WITH CHECK ADD  CONSTRAINT [ck_Appointment] CHECK  (([Appointment]>getdate()))
GO
ALTER TABLE [dbo].[Tests_Appointments] CHECK CONSTRAINT [ck_Appointment]
GO
